<footer class="footer mt-auto py-3 bg-dark" style="background-color: #161E21 !important; margin-top: 100px !important;">
      <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="text-success">Top Courses</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'courses_python' %}">Python</a></li>
            <li><a class="text-muted" href="{% url 'courses_html_css_js' %}">HTML/CSS/JS</a></li>
            <li><a class="text-muted" href="{% url 'courses_react_js' %}">React.js</a></li>
            <li><a class="text-muted" href="{% url 'courses_databases' %}">Databases</a></li>
            <li><a class="text-muted" href="{% url 'courses_vue_js' %}">Vue.js</a></li>

            <li><a class="text-muted" href="{% url 'courses_vite' %}">Vite</a></li>
            <li><a class="text-muted" href="{% url 'courses_blockchain' %}">Blockchain</a></li>
            <li><a class="text-muted" href="{% url 'courses_wordpress' %}">Wordpress</a></li>
            <li><a class="text-muted" href="{% url 'courses_ai' %}">AI</a></li>
            <li><a class="text-muted" href="{% url 'courses_flutter' %}">Flutter</a></li>
            <li><a class="text-muted" href="{% url 'courses_kotlin' %}">Kotlin</a></li>
            <li><a class="text-muted" href="{% url 'courses_next_js' %}">Next.js</a></li>

          </ul>
        </div>
        <div class="col">
          <h5 class="text-success">Crucial Links</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'all_courses' %}">All Courses</a></li>
            <li><a class="text-muted" href="{% url 'all_news' %}">All News</a></li>
            <li><a class="text-muted" href="{% url 'all_editorials' %}">All Articles</a></li>
            <li><a class="text-muted" href="https://www.youtube.com/@travilabs/playlists">More Movies</a></li>
            <li><a class="text-muted" href="https://www.info.travilabs.com">info.travilabs.com</a></li>

            <li><a class="text-muted" href="https://twitter.com/travilabs">Twitter</a></li>
            <li><a class="text-muted" href="https://www.tiktok.com/@travilabs2">TikTok</a></li>
            <li><a class="text-muted" href="https://www.youtube.com/@travilabs/playlists">YouTube</a></li>
            <li><a class="text-muted" href="https://www.instagram.com/travilabs_">Instagram</a></li>
            <li><a class="text-muted" href="https://discord.gg/n5fTEk6ffV">Discord</a></li>
            <li><a class="text-muted" href="https://t.me/distGo">Telegram</a></li>
            <li><a class="text-muted" href="https://www.reddit.com/user/travilabs">Reddit</a></li>

          </ul>
        </div>
        <div class="col">
          <h5 class="text-success">Top Topics</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'web_development_backend_django' %}">Django</a></li>
            <li><a class="text-muted" href="{% url 'web_development_backend_flask' %}">Flask</a></li>
            <li><a class="text-muted" href="{% url 'web_development_frontend_tailwind' %}">Tailwind.js</a></li>
            <li><a class="text-muted" href="{% url 'web_development_frontend_vue' %}">Vue.js</a></li>
            <li><a class="text-muted" href="{% url 'web_development_frontend_three_js' %}">Three.js</a></li>
            <li><a class="text-muted" href="{% url 'web_development_frontend_bootstrap' %}">Bootstrap</a></li>

            <li><a class="text-muted" href="{% url 'mobile_development_kotlin' %}">Kotlin</a></li>
            <li><a class="text-muted" href="{% url 'mobile_development_flutter' %}">Flutter</a></li>
            <li><a class="text-muted" href="{% url 'blockchain_solidity' %}">Solidity</a></li>
            <li><a class="text-muted" href="{% url 'automatization_email_automation' %}">Email Automation</a></li>
            <li><a class="text-muted" href="{% url 'databases_postgresql' %}">PostgreSQL</a></li>
            <li><a class="text-muted" href="{% url 'ai' %}">AI</a></li>
            <li><a class="text-muted" href="{% url 'databases_ipfs' %}">IPFS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  